In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cross_validation import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [2]:
df= pd.read_csv("SMSSpamCollection",sep='\t', names=['spam', 'txt'])

In [3]:
df.head()

   spam                                                txt
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
pd.get_dummies(df.spam)

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
5       0     1
6       1     0
7       1     0
8       0     1
9       0     1
10      1     0
11      0     1
12      0     1
13      1     0
14      1     0
15      0     1
16      1     0
17      1     0
18      1     0
19      0     1
20      1     0
21      1     0
22      1     0
23      1     0
24      1     0
25      1     0
26      1     0
27      1     0
28      1     0
29      1     0
...   ...   ...
5542    1     0
5543    1     0
5544    1     0
5545    1     0
5546    1     0
5547    0     1
5548    1     0
5549    1     0
5550    1     0
5551    1     0
5552    1     0
5553    1     0
5554    1     0
5555    1     0
5556    1     0
5557    1     0
5558    1     0
5559    1     0
5560    1     0
5561    1     0
5562    1     0
5563    1     0
5564    1     0
5565    1     0
5566    0     1
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [5]:
df.spam = pd.get_dummies(df.spam)['spam']

In [6]:
df.spam

0       0
1       0
2       1
3       0
4       0
5       1
6       0
7       0
8       1
9       1
10      0
11      1
12      1
13      0
14      0
15      1
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
5542    0
5543    0
5544    0
5545    0
5546    0
5547    1
5548    0
5549    0
5550    0
5551    0
5552    0
5553    0
5554    0
5555    0
5556    0
5557    0
5558    0
5559    0
5560    0
5561    0
5562    0
5563    0
5564    0
5565    0
5566    1
5567    1
5568    0
5569    0
5570    0
5571    0
Name: spam, dtype: float64

In [7]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stopset)

In [8]:
y = df.spam

In [9]:
X= vectorizer.fit_transform(df.txt)

In [10]:
X

<5572x8605 sparse matrix of type '<type 'numpy.float64'>'
	with 48114 stored elements in Compressed Sparse Row format>

In [11]:
X_train, X_test,y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
model = naive_bayes.MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
roc_auc_score(y_test, model.predict_proba(X_test)[:,1])

0.98558587451336732

In [14]:
import numpy as np
spam_array=np.array(["Congratulations! You won a lottery"])
spam_array_vector = vectorizer.transform(spam_array)
print model.predict(spam_array_vector)

[ 1.]